/*CSS reset*/
*{
	margin: 0;
	padding: 0;
	box-sizing:  border-box;
}

/* targets the html element body */
body {
	/*background-color: skyblue;*/
	background-image: linear-gradient(rgba(17, 126, 112, 0.75), rgba(0,88,255,0.45)), url("https://media.giphy.com/media/eBQiVZ358Waas/giphy.gif"); 
	background-position:  center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	color: #f2f2f2; /* off white */
}
/*end of body styling*/

/*start of h1 styling */
h1 {
	font-size: 50px;
	background-color: #333; /*off black*/
	text-transform: uppercase;
	margin-bottom: 15px;
	letter-spacing: 3px;
	font-family: 'Roboto', sans-serif;
	border-radius: 10px;
}
/*end of h1 styling*/

/*start of h2 styling*/
h2 {
	color: yellow;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-bottom: 15px;
	background-color: #333;
	/*margin: 10px; adds space outside of the element*/
	padding: 10px; /*adds space inside the element */
	border-radius: 10px;
	font-family: 'Roboto', sans-serif;
}
/*end of h2 styling*/

/*start of bio styling*/

.bio {
	font-family: 'Nunito', sans-serif;
	font-size: 18px;
	background-color: rgba(51, 51, 51, 0.5);
	line-height: 1.45;
	padding: 10px; /*adds space inside the element */
	border-radius: 10px;
}
/*end of bio styling*/

/*targets the element with the id me*/
#me {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	border-color: rgba(0,34,51, 0.15);
	border-width: 5px;
	border-style: solid;
	margin-top: 50px;
	margin-bottom: 25px;
}
/*end of id me*/

.container {
	width: 500px;
	text-align: center;
	margin: 0 auto; /*this will center the element horizontally*/
}